[mysqld]
character-set-server=utf8mb4

# MySQL5.6.6以降はデフォルトで「NO_ENGINE_SUBSTITUTION」が設定
# 以前のバージョンは空白のため、以前と同じ動きをさせる場合は''を設定すること
# MySQL8のデフォルト設定は以下だが、移行時の影響が大きい（エラーが出てしまう）ため設定を上書きする。
# sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
sql_mode = ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION


# LOAD DATA and SELECT ... INTO OUTFILE statements and the LOAD_FILE() などの
# CSVインポート・エクスポートの制限解除をする場合
#secure-file-priv = ""
